<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <config>
    <add key="repositoryPath" value=".\packages" />
    <add key="maxHttpRequestsPerSource" value="16" />
  </config>
  <packageRestore>
    <add key="enabled" value="false" />
    <add key="automatic" value="false" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear />
    <add key="Azure-Compute-Consumption" value="https://msazure.pkgs.visualstudio.com/One/_packaging/Azure-Compute-Consumption/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
